accounts==0.2.4
alembic==1.7.7
amqp==2.6.1
anyio==3.5.0
asgiref==3.5.0
async-timeout==4.0.2
atpublic==3.0.1
attrs==21.4.0
bcrypt==3.2.0
billiard==3.6.4.0
cachetools==5.0.0
celery==4.4.7
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.2
cssselect==1.1.0
cssutils==2.4.0
defusedxml==0.7.1
Deprecated==1.2.13
dj-rest-auth==2.2.4
Django==3.2.13
django-allauth==0.50.0
django-autoslug==1.9.8
django-braces==1.15.0
django-colorfield==0.6.3
django-countries==7.3.2
django-extensions==3.1.5

django-filter==21.1
django-js-asset==2.0.0
django-location-field==2.1.0
django-model-utils==4.2.0
django-mptt==0.13.4
django-oauth-toolkit==1.7.1
django-otp==1.1.3
django-rest-auth==0.9.5
django-rest-framework-social-oauth2==1.1.0
django-templated-mail==1.1.1
djangorestframework==3.13.1
djangorestframework-jwt
djangorestframework-simplejwt
djoser==2.1.0
dnspython==2.2.1
drf-social-oauth2==1.2.1
ecdsa==0.17.0
email-validator==1.1.3
emails==0.5.15
geographiclib==1.52
geopy==2.2.0
gunicorn==20.1.0
h11==0.9.0
httplib2
httptools==0.1.2
idna==3.3
inflect==5.4.0
itsdangerous==2.1.2
itypes==1.2.0
jwcrypto==1.0
kombu==4.6.11
leaflet==0.0.3
lxml==4.8.0
Mako==1.2.0
MarkupSafe==2.1.1
more-itertools==8.12.0
oauth2client==4.1.3
oauthlib==3.2.0
p5py==1.0.0
packaging==21.3
passlib==1.7.4
pep517==0.12.0
Pillow==9.0.1
pkgconfig==1.5.5
pluggy==0.13.1
premailer==3.10.0
progressbar2==4.0.0
psycopg2-binary==2.9.3
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.14.1
pydantic==1.9.0
PyJWT
pyparsing==3.0.7
pytest==5.4.3
python-dateutil==2.8.2
python-jose==3.3.0
python-multipart==0.0.5
python-utils==3.1.0
python3-openid==3.2.0
pytz==2021.3
raven==6.10.0
redis==4.2.2
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
shortuuid==1.0.8
signals==0.0.2
six==1.16.0
sniffio==1.2.0
social-auth-app-django==4.0.0
social-auth-core==4.2.0
SQLAlchemy==1.4.34
sqlparse==0.4.2
starlette==0.16.0
swapper==1.3.0
tenacity==6.3.1
tomli==2.0.1
tqdm==4.63.0
typing_extensions==4.1.1
tzdata==2021.5
Unidecode==1.3.4
uritemplate==4.1.1
urllib3==1.26.8
uvicorn==0.11.8
uvloop==0.16.0
vine==1.3.0
wcwidth==0.2.5
websockets==8.1
Werkzeug==2.1.1
whitenoise==6.0.0
world==4.1.1
wrapt==1.14.0
WTForms==3.0.1
